@import "colours";
@import "fonts";
@import "media-queries";

footer {
  background-color: $primaryBlack;
  color: $primaryWhite;
  margin-top: 1rem;
  margin-bottom: 0rem;

  @include tablet {
    position: relative;
    p {
      font-size: 0.75rem;
    }

    display: flex;
    flex-direction: column;

    .social {
      display: flex;
      h1 {
        max-width: fit-content;
      }

      &__icons {
        padding: 2.25rem;
      }
    }

    .entertainment {
      display: flex;
    }

    .navbar-copywrite {
      margin-top: 1rem;
    }
  }

  h1,
  div {
    margin: 1rem 1rem;
  }

  h1 {
    padding-top: 1rem;

    @include tablet {
      padding-top: 2.25rem;
    }
  }

  .social__icons {
    display: flex;
    margin-top: 1rem;

    a {
      width: auto;
    }

    .icons {
      height: 30px;
      width: auto;
      margin: 0rem 1.25rem;
    }

    .first-icon {
      margin-left: 0rem;
    }
  }

  .navbar-bottom {
    text-align: left;
    @include tablet {
      position: absolute;
      max-width: fit-content;
      right: 5rem;
      top: 1.25rem;
    }
  }

  h6 {
    font-weight: normal;
    padding-bottom: 1rem;
    margin-top: 1rem;
  }
}
