@import "colours";
@import "fonts";
@import "media-queries";

.navbar {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: $primaryBlack;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  height: 6.25rem;
  flex-direction: column;

  &-logo {
    max-height: 20px;
    font-size: 1.5rem;
    line-height: 32px;
    color: $primaryWhite;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin: 1.5rem 0rem;
  }

  ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    margin: 0rem;

    li {
      text-align: center;
      padding-bottom: 0.6875rem;
      margin: 0rem;
    }

    .navbar--current {
      color: $primaryWhite;
      font-weight: bold;
      border-bottom: 5px solid $primaryWhite;
    }

    a:link {
      text-decoration: none;
      color: $secondarySilver;
    }

    a:active {
      color: $primaryWhite;
    }

    a:visited {
      color: $primaryWhite;
    }
  }

  @include tablet {
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;

    .navbar-logo {
      max-width: fit-content;
      align-items: center;
    }

    ul {
      justify-content: left;
      margin-top: 16px;

      .navbar--current {
        max-width: fit-content;
      }
    }
    a {
      padding: 0rem 2.25rem;
    }

    li {
      max-width: fit-content;
    }
  }
}
