@import "./partials/colours";
@import "./partials/fonts";
@import "./partials/media-queries";
@import "./partials/footer";
@import "./partials/navbar";

* {
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  font-family: "Avenir", sans-serif;
  margin: 0rem;

  h1,
  h2 {
    font-family: "Avenir", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }

  h4 {
    font-family: "Avenir", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
  }

  p {
    font-family: "Avenir", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
  }

  @include tablet {
    h1,
    h2 {
      font-family: "Avenir", sans-serif;
      font-weight: 700;
      font-size: 36px;
      line-height: 44px;
    }

    h4 {
      font-family: "Avenir", sans-serif;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
    }

    p {
      font-family: "Avenir", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }
  }
}

body {
  font-size: 1rem;
}

.hero {
  margin: 0rem 0rem;
  background-image: linear-gradient(
      rgba(50, 50, 50, 0.5),
      rgba(50, 50, 50, 0.5)
    ),
    url("../assets/Images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 6.25rem;
  height: 100vw;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;

  &__title {
    color: #ffffff;
    font-family: "Avenir", sans-serif;
    margin-left: 1rem;

    @include tablet {
      font-size: 60px;
      line-height: 68px;
      margin-left: 2.25rem;
    }

    @include desktop {
      margin-left: auto;
    }
  }
}

.about {
  padding-top: 1.5rem;
  margin: 0rem 1rem;
  width: 100%;
  background-color: $primaryWhite;

  h1 {
    color: $primaryBlack;
  }

  @include tablet {
    padding-top: 48px;
    margin: 0rem 2.25rem 0rem 2.25rem;
  }

  @include desktop {
    margin: 0rem 4.5rem;
  }

  .about--padding {
    padding-bottom: 1rem;
    margin-bottom: 0rem;

    @include tablet {
      padding-bottom: 2.25rem;
    }
  }

  .about__artist {
    margin-top: 0rem;
  }
  img,
  .about--quote {
    height: auto;
    justify-content: center;
    max-width: calc(100% - 32px);

    @include tablet {
      max-width: calc(100% - 72px);
    }
  }

  p {
    text-align: left;
    width: 75%;
    margin-bottom: 1rem;
    margin-top: 0rem;
    width: 85%;

    @include tablet {
      max-width: calc(100% - 72px);
      margin-right: 0.625rem;
    }
  }

  @include tablet {
    .about__text {
      display: flex;
      max-width: calc(100% - 72px);
    }
  }
}

.photo-gallery {
  background-color: $secondaryWhite;
  width: 100%;
  margin: 0 auto;
  padding: 0px 1rem;
  padding-top: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  @include tablet {
    padding: 0px 36px;
    padding-top: 48px;
  }

  @include desktop {
    padding: 0px auto;
  }

  h1 {
    margin-bottom: 0px;
    color: $primaryBlack;
  }
}

.article__photos--images {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 16px;

  .article__responsive-image {
    margin: 10px;
    width: 100%;
    height: auto;
  }

  @include tablet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 0px;
  }

  @include desktop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 0px;
  }
}

.add-comment {
  color: $primarySilver;
  max-width: 100%;
  width: 100%;
  margin-left: 1rem;
  width: 90%;
  margin: 0 auto;
  align-items: center;

  @include tablet {
    width: 70%;
  }
  @include desktop {
    width: 50%;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-left: 1rem;
    color: $primaryBlack;
  }

  &__div {
    display: flex;
    justify-content: flex-start;
    margin-left: 1rem;

    &-form--image {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    &-form-section {
      display: flex;
      flex-direction: column;
      margin-left: 1rem;
      margin-bottom: 1rem;
      font-family: "Avenir", sans-serif;
      width: 80%;
    }

    #comment {
      height: 100px;
      color: $primarySilver;
      background-color: $secondaryWhite;
      border-radius: 2px;
      border-color: $primarySilver;
      color: $primaryBlack;
    }

    #name {
      background-color: $secondaryWhite;
      border-radius: 2px;
      border-color: $primarySilver;
      color: $primarySilver;
      color: $primaryBlack;
    }

    input[type="submit"] {
      color: $primaryWhite;
      background-color: $primaryBlack;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 1rem;
      text-align: center;
    }

    input[type="text"]:focus {
      border: 3px solid #555;
    }
  }
}

.comments--section {
  .profile-picture {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: $primarySilver;
    margin-right: 10px;

    @include tablet {
      width: 48px;
      height: 48px;
    }
  }

  .comment-Container {
    margin-bottom: 1rem;
    padding: 15px;
    border-top: 1px solid $secondarySilver;
    border-radius: 5px;
    display: flex;
    width: 90%;
    margin: 0 auto;

    @include tablet {
      width: 70%;
    }
    @include desktop {
      width: 50%;
    }

    .comment-title-container {
      display: flex;
      justify-content: space-between;
      padding-bottom: 1rem;

      p {
        text-align: right;
      }
    }
  }
}
