@font-face {
  font-family: "Avenir";
  src: local("Avenir Next Regular");
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 100;
}
@font-face {
  font-family: "Avenir";
  src: local("Avenir Next Demi Bold");
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "Avenir";
  src: local("Avenir Next Bold");
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "Avenir";
  src: local("Avenir Next Regular");
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 100;
}
@font-face {
  font-family: "Avenir";
  src: local("Avenir Next Demi Bold");
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "Avenir";
  src: local("Avenir Next Bold");
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 500;
}
footer {
  background-color: #323232;
  color: #ffffff;
  margin-top: 16px;
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
  footer {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  footer p {
    font-size: 12px;
  }
  footer .social {
    display: flex;
  }
  footer .social h1 {
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  footer .social__icons {
    padding: 36px;
  }
  footer .entertainment {
    display: flex;
  }
  footer .navbar-copywrite {
    margin-top: 16px;
  }
}
footer h1,
footer div {
  margin: 16px 16px;
}
footer h1 {
  padding-top: 16px;
}
@media screen and (min-width: 768px) {
  footer h1 {
    padding-top: 36px;
  }
}
footer .social__icons {
  display: flex;
  margin-top: 16px;
}
footer .social__icons a {
  width: auto;
}
footer .social__icons .icons {
  height: 30px;
  width: auto;
  margin: 0px 20px;
}
footer .social__icons .first-icon {
  margin-left: 0px;
}
footer .navbar-bottom {
  text-align: left;
}
@media screen and (min-width: 768px) {
  footer .navbar-bottom {
    position: absolute;
    max-width: -moz-fit-content;
    max-width: fit-content;
    right: 5rem;
    top: 1.25rem;
  }
}
footer h6 {
  font-weight: normal;
  padding-bottom: 16px;
  margin-top: 16px;
}

@font-face {
  font-family: "Avenir";
  src: local("Avenir Next Regular");
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 100;
}
@font-face {
  font-family: "Avenir";
  src: local("Avenir Next Demi Bold");
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "Avenir";
  src: local("Avenir Next Bold");
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 500;
}
.navbar {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #323232;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  height: 100px;
  flex-direction: column;
}
.navbar-logo {
  max-height: 20px;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  margin: 24px 0px;
}
.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  margin: 0px;
}
.navbar ul li {
  text-align: center;
  padding-bottom: 11px;
  margin: 0px;
}
.navbar ul .navbar--current {
  color: #ffffff;
  font-weight: bold;
  border-bottom: 5px solid #ffffff;
}
.navbar ul a:link {
  text-decoration: none;
  color: #e1e1e1;
}
.navbar ul a:active {
  color: #ffffff;
}
.navbar ul a:visited {
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .navbar {
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
  }
  .navbar .navbar-logo {
    max-width: -moz-fit-content;
    max-width: fit-content;
    align-items: center;
  }
  .navbar ul {
    justify-content: left;
    margin-top: 16px;
  }
  .navbar ul .navbar--current {
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .navbar a {
    padding: 0px 36px;
  }
  .navbar li {
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  font-family: "Avenir", sans-serif;
  margin: 0px;
}
* h1,
* h2 {
  font-family: "Avenir", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
* h4 {
  font-family: "Avenir", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}
* p {
  font-family: "Avenir", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}
@media screen and (min-width: 768px) {
  * h1,
  * h2 {
    font-family: "Avenir", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
  }
  * h4 {
    font-family: "Avenir", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }
  * p {
    font-family: "Avenir", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
}

body {
  font-size: 16px;
}

.hero {
  margin: 0px 0px;
  background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/Images/Photo-gallery-3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 100px;
  height: 100vw;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}
.hero__title {
  color: #ffffff;
  font-family: "Avenir", sans-serif;
  margin-left: 16px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 60px;
    line-height: 68px;
    margin-left: 36px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    margin-left: auto;
  }
}
.hero__iframe {
  margin-left: 1rem;
}

.shows {
  margin-bottom: 1rem;
  padding: 10px;
}
.shows .selected {
  background-color: #e1e1e1;
}
.shows h2 {
  padding-bottom: 1rem;
}
.shows h6 {
  color: #afafaf;
  padding-top: 10px;
  padding-bottom: 10px;
}
.shows div {
  padding-bottom: 10px;
  border-bottom: 1px solid #e1e1e1;
}
.shows #currentshows__div {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-bottom: 1rem;
  font-family: "Avenir", sans-serif;
  width: 120%;
}
.shows button {
  color: #ffffff;
  background-color: #323232;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  text-align: center;
  width: 75%;
  margin-top: 16px;
}
.shows button:hover {
  background-color: #191919;
}
@media screen and (min-width: 768px) {
  .shows {
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows {
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
  }
}/*# sourceMappingURL=shows.css.map */