@import "./partials/colours";
@import "./partials/fonts";
@import "./partials/media-queries";
@import "./partials/footer";
@import "./partials/navbar";

* {
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  font-family: "Avenir", sans-serif;
  margin: 0px;

  h1,
  h2 {
    font-family: "Avenir", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }

  h4 {
    font-family: "Avenir", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
  }

  p {
    font-family: "Avenir", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
  }

  @include tablet {
    h1,
    h2 {
      font-family: "Avenir", sans-serif;
      font-weight: 700;
      font-size: 36px;
      line-height: 44px;
    }

    h4 {
      font-family: "Avenir", sans-serif;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
    }

    p {
      font-family: "Avenir", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }
  }
}

body {
  font-size: 16px;
}

.hero {
  margin: 0px 0px;
  background-image: linear-gradient(
      rgba(50, 50, 50, 0.5),
      rgba(50, 50, 50, 0.5)
    ),
    url("../assets/Images/Photo-gallery-3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 100px;
  height: 60vw;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;

  h4 {
    color: #ffffff;
    margin: 16px;
    margin-top: 32px;
  }
  &__title {
    color: #ffffff;
    font-family: "Avenir", sans-serif;
    margin-left: 16px;

    @include tablet {
      font-size: 60px;
      line-height: 68px;
      margin-left: 36px;
    }

    @include desktop {
      margin-left: auto;
    }
  }

  &__iframe {
    margin-left: 1rem;
    margin-top: 1rem;
  }
  iframe {
    width: 90%;
  }

  @include desktop {
    flex-direction: row;

    .hero__left {
      margin-left: 8rem;
      margin-right: 2.5rem;
      width: 60%;
    }

    &__iframe {
      width: 60%;
    }
    iframe {
      width: 60%;
    }
  }
}

.shows {
  margin-bottom: 1rem;
  padding: 10px;

  h5 {
    display: none;
    color: $primarySilver;
  }

  h4 {
    visibility: hidden;
  }

  .selected {
    background-color: #e1e1e1;
  }

  h2 {
    margin: 16px;
  }
  h6 {
    color: $primarySilver;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  div {
    padding-bottom: 10px;
  }

  .show-items {
    border-bottom: 1px solid $secondarySilver;
  }

  #currentshows__div {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-family: "Avenir", sans-serif;
    width: 90%;
  }

  button {
    color: $primaryWhite;
    background-color: $primaryBlack;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
    width: 75%;
    margin-top: 16px;

    &:hover {
      background-color: darken($primaryBlack, 10%);
    }
  }

  @include tablet {
    margin-left: 2rem;
    h5 {
      display: block;
    }

    h6 {
      display: none;
    }
    div {
      display: flex;
      align-items: center;
    }
  }
  @include desktop {
    display: flex;
    h2 {
      width: 20%;
    }
    div {
      margin-top: 16px;
      width: 80%;
    }
    margin-left: 3rem;
  }
}
